pipeline/copyCustomerFiles.json
{
	"name": "copyCustomerFiles",
	"properties": {
		"activities": [
			{
				"name": "getFileNames",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "customerFiles",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings"
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "forEachCustomerFile",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getFileNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getFileNames').output",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}