pipeline/LoadDimensions.json
{
	"name": "LoadDimensions",
	"properties": {
		"activities": [
			{
				"name": "GetConfigTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * from @{pipeline().parameters.ConfigTable}\nIF @@ROWCOUNT = 0 THROW 50000,'No rows in configuration table!',1\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureDemoDb",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "dummy",
							"TableSchema": "dummy"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetConfigTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetConfigTable').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data from table to blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "SELECT * FROM @{item().SrcSchema}.@{item().SrcTable}",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureAw",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DynamicCopy",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().SrcTable}",
											"type": "Expression"
										},
										"FolderName": "RAW"
									}
								}
							]
						},
						{
							"name": "Copy data from blob to table",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data from table to blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "IF OBJECT_ID(N'stg.@{item().SrcTable}') IS NOT NULL\nBEGIN\nTRUNCATE TABLE Stg.@{item().SrcTable}\nEND",
										"type": "Expression"
									},
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DynamicCopy",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().SrcTable}",
											"type": "Expression"
										},
										"FolderName": "RAW"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "AzureDemoDb",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().SrcTable}",
											"type": "Expression"
										},
										"TableSchema": "Stg"
									}
								}
							]
						},
						{
							"name": "Copy data from blob to blob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data from blob to table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DynamicCopy",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().SrcTable}",
											"type": "Expression"
										},
										"FolderName": "RAW"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DynamicCopy",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().SrcTable}",
											"type": "Expression"
										},
										"FolderName": "PROCESSED"
									}
								}
							]
						},
						{
							"name": "Delete RAW Files",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy data from blob to blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DynamicCopy",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@{item().SrcTable}",
											"type": "Expression"
										},
										"FolderName": "RAW"
									}
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"ConfigTable": {
				"type": "string",
				"defaultValue": "dbo.ConfigTable"
			}
		},
		"annotations": []
	}
}