pipeline/plLookupActivityArray.json
{
	"name": "plLookupActivityArray",
	"properties": {
		"activities": [
			{
				"name": "lkpGetTableNames",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "TableList_DW",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "setArray",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "lkpGetTableNames",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "TableNames",
					"value": {
						"value": "@activity('lkpGetTableNames').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"TableNames": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}